{% extends "base.html" %}

{% block topbar %}
Dashboard
{% endblock %}

{% block content %}
	<h1>Dashboard</h1>
	<ul>
	{% for book in books %}
	    <li>
	    	{{ book.title }}
	    	<a href="{% url 'book:detail' book.id %}">Visualizar</a>
	    	<a href="{% url 'book:update' book.id %}">Editar</a>
	    	<form action="{% url 'book:delete' book.id %}" method="POST">
	    	{% csrf_token %}
			    <input type="submit" value="Excluir"> 
			</form>
	    </li>
	{% endfor %}
	</ul>
	<a href="{% url 'book:create' %}">Novo livro</a>
{% endblock %}

