{% extends "base.html" %}

{% block topbar %}
{{ btn_submit }}
{% endblock %}

{% block content %}
	<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
		{% for field in book_form %}
		    <div class="fieldWrapper">
		        {{ field.errors }}
		        {{ field.label_tag }} 
		        {{ field }}
		        {% if field.help_text %}
		        	<p class="help">{{ field.help_text|safe }}</p>
		        {% endif %}
		    </div>
		{% endfor %}
		<input type="submit" value="{{ btn_submit }}">
	</form>
{% endblock %}
